// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import "bem";
@import 'mq';
@import "variables";
// Variables


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




$blue: #196cde;
$family-serif: "Raleway", serif;
$family-primary: $family-serif;
$primary: #196cde;
@import "utilities/_all";
@import "base/_all";
@import "elements/_all";
@import "components/_all";
@import "grid/_all";
@import "layout/_all";

html *
{
   font-family: Raleway;
   height: 100%;
}

$blue: #196cde;
$family-serif: "Raleway", serif;
$family-primary: $family-serif;
$primary: #196cde;


body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

